[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtts = "*"
flask = "*"
jieba = "*"
wordfreq = "*"
regex = "*"
requests = "*"

[dev-packages]
"bs4" = "*"
pytest = "*"

[requires]
python_version = "3.6"
