altgraph==0.15
appdirs==1.4.3
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
click==6.7
Flask==0.12.2
google-speech==1.0.16
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
jieba==0.39
Jinja2==2.10
langcodes==1.4.1
lxml==4.2.1
macholib==1.9
marisa-trie==0.7.4
MarkupSafe==1.0
modulegraph==0.16
msgpack==0.5.6
regex==2018.2.21
requests==2.18.4
sip==4.19.8
urllib3==1.22
web-cache==1.0.2
Werkzeug==0.14.1
wordfreq==2.0
