aside {
    float: left;
    margin: 0 1.5%;
    width: 250px;
    margin: auto;
}

article {
    float: right;
    width: calc(100% - 300px);
    margin: 0 1.5%;
}

nav {
    width: 100%;
}

input, button {
    font-size: 20px;
}

input {
    width: 500px;
}

button {
    width: 100px;
    margin: auto;
}

#character {
    font-size: 200px;
    width: 1em;
    height: 1.5em;
    margin: auto;
}

.character {
    font-size: 30px;
    display: inline-block;
}
.character:hover {
    font-size: 150px;
}

.number {
    font-size: 20px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    display: inline-block;
}
.number:hover {
    font-size: 40px;
}

.buttons {
    text-align: center;
}

.content {
    min-height: 50px;
}

.vocab {
    height: 200px;
}

.lang {
    float: right;
}