.character {
    font-size: 30px;
    display: inline-block;
}
.character:hover {
    font-size: 150px;
}

.number {
    font-size: 20px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    display: inline-block;
}
.number:hover {
    font-size: 40px;
}

.entry {
    display: block;
}