<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>CJKhyperradicals</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
      <nav>
          <div class="lang">
              <a href="#" onclick="setLang('zh'); return false;" id="lang-zh">Chinese</a> |
              <a href="#" onclick="setLang('ja'); return false;" id="lang-ja">Japanese</a>
          </div>

          <form action="/" method="post">
              <input type="text" name="sentence" id="sentence"/>
              <input type="hidden" name="char-number" id="char-number" value=0 />
              <input type="hidden" name="language" id="language" value="zh" />
              <button type="submit" id="submit-sentence">Submit</button>
          </form>
      </nav>

      <aside>
          <div id="character"></div>
          <div class="buttons">
              <button type="button" id="previousChar" disabled onclick="previousChar()">Previous</button>
              <button type="button" id="nextChar" disabled onclick="nextChar()">Next</button>
          </div>
      </aside>

      <article>
          <h2>Compositions</h2>
          <div id="compositions" class="content"></div>
          <h2>Supercompositions</h2>
          <div id="supercompositions" class="content"></div>
          <h2>Variants</h2>
          <div id="variants" class="content"></div>
          <h2>Vocabularies</h2>
          <div id="vocab" class="vocab"></div>
      </article>

    <script>var characters = '{{ characters }}'</script>
    <script>var lang = '{{ lang }}'</script>
    <script>var charNumber = 0 + {{ charNumber }}</script>
    <script>var compositions = [] && {{ compositions|safe }}</script>
    <script>var supercompositions = [] && {{ supercompositions|safe }}</script>
    <script>var variants = [] && {{ variants|safe }}</script>
    <script>var vocab = [] && {{ vocab|safe }}</script>
    <script src="{{ url_for('static', filename='renderer.js') }}"></script>
    </body>
  </html>